{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% for post in page.get_children %}
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ post.specific.date_published }}</div>
        <div class="card-body">
          <h4 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
          <p class="card-text">{{ post.specific.introduction }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}