{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="container">
    <div style="margin: 80px; padding: 20px; justify-content: center; color: black; background-color: #e9e9e8; border-radius: 0.5rem">
        <div class="blog-post-title">
            <h2>{{ page.title }}</h2>
        </div>
        <h6 class="meta">{{ page.date_published }}</h6>
        {% include_block page.body %}
    </div>
</div>

{% endblock %}
