{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}

{% block body_class %}template-projectpage{% endblock %}

{% block content %}

<div class="container">
    <div style="margin: 80px; padding: 1.25rem; justify-content: center; color: #485785; font-size: 20px">
        <div style="padding-bottom: 1rem;">
            <img src="{{ page.image_url }}" class="img-fluid" />
        </div>
        <div>
            <h2>
                <a href="{{ page.link_to_project }}">
                    {{ page.title }}
                </a>
            </h2>
        </div>
        {% include_block page.body %}
    </div>
</div>

{% endblock %}
