{% extends "wagtailadmin/login.html" %}

{% block above_login %}
{% if error %}
<div class="messages">
    <ul>
        <li class="error p-2">{{ error }}</li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block fields %}
<li class="full">
    <div class="field iconfield">
        <label for="id_email">Email address</label>
        <div class="input icon-user">
            <input type="email" name="email" id="id_email" required autofocus>
        </div>
    </div>
</li>
<li class="full">
    <div class="field iconfield">
        <label for="id_password">Password</label>
        <div class="input icon-password">
            <input type="password" name="password" id="id_password" required>
        </div>
    </div>
</li>
{% endblock %}

{% block submit_buttons %}
<button type="submit" class="button primary default">Send verification link</button>
{% endblock %}