{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="home-photo-text{% if page.image_file %} home-photo-text--has-image{% endif %}">
    {% if page.image_file %}
      <div class="home-photo-text__image">
        {% image page.image_file width-800 as img %}
        <img src="{{ img.url }}" alt="{{ img.alt }}" class="rounded shadow">
      </div>
    {% endif %}
    <div class="home-photo-text__body">
      {{ page.body }}
    </div>
  </div>
</div>
{% endblock content %}