<h1>
    I'm Rosamund, a tech and humanities professional living in Berlin.
</h1>

<p>
    After earning a BA in French & German from the University of Leicester, I began my career as a translator and 
    copywriter. However, I'd always wanted to explore what really went on behind the websites and apps that 
    I was selling with my words, and I knew my way around many a CMS. I started teaching myself to code and a
    few years down the line became a software developer.
</p>

<p>
    I don't see my professional interests as especially disparate. When I write, whether it's code or prose, it's 
    fuelled by my fascination with syntax, semantics, and an obsession with accuracy of expression, whatever
    the context may be. I also like that programming is based on systems thinking and problem-solving, along 
    with a hearty dash of creativity.
</p>

<p>
    My passions are books and cities, which you'll find reflected in my personal web projects. Translation 
    and editing may not form the core of my professional duties anymore, but I use those skills every day 
    in my research and writing.
</p>

<p>
    Some writing I'm proud of has been published in the <a href="https://www.theguardian.com/commentisfree/2016/nov/02/brexit-europe-young-people-expats">Guardian</a>,
    <a href="https://www.elsewhere-journal.com/blog/2017/1/20/return-to-lakenheath-suffolk-england">Elsewhere Journal</a>, and <a href="https://queenmobs.com/2016/10/22203/">Queen Mob's Tea House</a>.
    I have written an as-yet unpublished novel set in Quebec, where I had a short stint between graduation 
    and Berlin. I am also working on an experimental memoir.
</p>