{% load static wagtailcore_tags %}

<nav class="navbar">
  <div class="navbar-container">

    <header class="navbar-header">
      {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}
          {{ current_site.site_name }}
        {% endif %}
    </header>

    <button class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="navbar-menu" id="navbar-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
  </div>
</nav>
